body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --grid-maxWidth: 75rem;
}

body {
  --grid-maxWidth: 75rem;
}

fieldset {
  padding: 1.5rem 2rem;
}
